
.DS_Store
build
.git
*.egg-info
dist
output
data/coco
backup
weights/*.weights
__pycache__
checkpoints
weights/*
logs/
logs_with/
logs_without/
checkpoints*
logs*
checkpoints_with_aug/
checkpoints_without_aug/
._.DS_Store
squared_images/
augmented_data/
images_to_test/
